%label Name
= f.text_field(:name, :placeholder => 'Collection Name')
%label Description
= f.text_area(:description, :rows => 5, :placeholder => 'Collection Description')
%label Category
= f.select(:category, collection_category_options)
%label.checkbox
  =f.check_box(:private) 
  Collection is Private
