%h1 #{@project.name} > Data Collections

%a{:href => new_project_collection_path} Create a Collection

%ul
  - @collections.each do |c|
    %li
      %a{:href => project_collection_path(@project, c)}= c.name
      = c.schema.map{|k| k.name}.to_s
 
%a{:href => projects_path} Project List