.content-box
  .modal-header
    %h3 Add New #{@project.name} Collection
  = form_for("collection", :url => project_collections_path(@project), :html => {:class => 'form'}) do |f|
    .modal-body
      = render :partial => 'collections/form', :locals => {:f => f}
    .modal-footer
      %button.btn.btn-primary Save Changes
      %a.btn(data-dismiss="modal") Close
