%h1 Add User to #{@project.name}

.block
  .secondary-navigation.button-navigation
    .wat-cf
      = nav_button("Back to Project", "web-app-theme/icons/arrow_undo.png", project_path(@project))
  .content
    .inner
      = render :partial => 'project_users', :locals => {:project => @project,
      :cancel_link => nil}
