.content-box
  .modal-header
    %h3 Create New Project
  = form_for(Yogo::Project.new, :url => projects_path, :html => {:class => 'form-box'}) do |f|
    .modal-body
      = render :partial => 'projects/form', :locals => {:f => f}
    .modal-footer
      %button.btn.btn-primary Save Changes
      %a.btn(data-dismiss="modal") Close
