%h2 Search Results:
%h4 #{@search_results.map{|k,v| v.length}.inject(:+)} record(s) match your query.

.search_results.content-box
  -@search_results.keys.each do |coll|
    -if @search_results[coll].length > 0
      -cur_collection=@data_collections.get(coll)
      -unless cur_collection.nil?
        %hr
        .container
          .span11
            %h4= cur_collection.name
            -if current_user.member_of?(@project)       
              = render :partial => '/items/table', :locals => {:items => @search_results[coll], :collection => cur_collection, :project=>@project}
            -else
              = render :partial => '/items/public_table', :locals => {:items => @search_results[coll], :collection => cur_collection, :project=>@project}