%h2
  Search Results:
.block
  .content
    .inner
      %h4 #{@search_results.map{|k,v| v.length}.inject(:+)} record(s) match your query.

  .content
    .inner
      %p
        -@search_results.keys.each do |coll|
          -if @search_results[coll].length > 0
            .block
              .secondary-navigation.button-navigation
                .wat-cf
                  -cur_collection=@data_collections.get(coll)
                  = nav_button(cur_collection.name,"web-app-theme/icons/x-office-spreadsheet.png" ,project_collection_path(@project,cur_collection))
              = render :partial => '/items/table', :locals => {:items => @search_results[coll], :collection => cur_collection, :project=>@project}
             
          %hr
        =link_to("Back", project_search_path(@project))