.row
  .collection_table
  - if @collection.schema.count > 0
    -if current_user.member_of?(@project)
      = render  :partial => 'items/table', 
                :locals => {:items =>@items, :collection => @collection, :project=>@project}
    -else
      = render  :partial => 'items/public_table', 
                :locals => {:items => @items, :collection => @collection, :project=>@project}