%h1 Create New {@collection.name} Item


= form_for(@item, :url => project_collection_items_path) do |f|
  -@collection.schemas.each do |field|
    %p
      = f.label(field.name)
      = f.text_field(field.name)
    

  = f.submit

%a{:href => projects_path} Back

