= form_for("item", :url => project_collection_items_path(@project, @collection), :html => {"multipart" => true, "data-ajax"=> false, :class => 'form-box'}) do |f| 
  = render :partial => 'items/form', :locals => {:f => f, :collection => @collection}
  .modal-footer
    %button.btn.btn-primary Save Changes
    %a.btn(data-dismiss="modal") Close
