%h1 Create New #{@collection.name} Item

%div{:class=>"form"}
  = form_for("item", :url => project_collection_items_path, :html => {"multipart" => true, "data-ajax"=> false}) do |f| 
    = render :partial => 'form', :locals => {:f => f, :collection => @collection}
    = f.submit("Save", :submit_image => image_tag("web-app-theme/icons/tick.png", :alt => "Save"), :cancel_link => link_to("Cancel", project_collection_path(@project, @collection), :class => "text_button_padding link_button"))

