%h2= @collection.name + " Data Row"

%p.muted Data Row ID:#{@item.id}

= render :partial => 'items/version_table', :locals => {:item => @item, :collection => @collection, :item => @item, :project=> @project}
