%ul.breadcrumb
  - if @project
    %li
      Project: 
      = link_to @project.name, project_path(@project)
      - if @collection
        %span.divider /

    - if @collection
      %li
        Collection: 
        = link_to @collection.name, project_collection_path(@project, @collection)