%ul.memu
  %li 
    %a(href='#') System
    %ul
      %li
        %a(href='#') Browse Projects
      %li
        %a(href='#') New Project
  %li 
    %a(href='#') Project
    %ul
      %li
        %a(href='#') Project Settings
      %li
        %a(href='#') Project Members
      %li
        %a(href='#') Publish Project
  %li 
    %a(href='#') Collections
  %li 
    %a(href='#') Data

