.group= f.text_field(:name)
  
.group= f.select(:type, property_types_opts)

.group= f.select(:controlled_vocabulary_id, controlled_vocabulary_opts, :label => "Controlled Vocabulary", :include_blank => true)
