= form_for("schema", :url => project_collection_schemas_path(@project, @collection), 
  :html => {:class => 'form-box'}) do |f|
  = render :partial => 'schemas/form', :locals => {:f => f}
  .modal-footer
    %button.btn.btn-primary Save Changes
    %a.btn(data-dismiss="modal") Close